@font-face {
    src: url("../fonts/trebuc.ttf") format("truetype");
    font-family: "Trebuchet MS";
}
body {
    padding: 220px 0 0 0;
    margin: 0 auto;
    min-height: 100vh;
    font-family: "Open Sans", Helvetica, sans-serif;
    font-size: 12px;
    color: #848484;
    background-color: #ffffff;
}
body * {
    box-sizing: border-box;
}
h1 {
    font-size: 30px;
}
h2 {
    font-size: 22px;
}
h1, h2, h3, h4 {
    color: #696161;
}
a {
    color: #848484;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
ul {
    padding: 0;
    margin: 0;
    list-style: none;
}
img {
    width: auto;
    max-width: 100%;
}

.holder::after {
    content:"" ;
    display: block;
    clear: both;
}
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 120px;
    border-bottom: 1px solid #e5e5e5;
    padding-top: 30px;
    background-color: #ffffff;
}

.wrapper {
    width: 1024px;
    margin: 0 auto;
}
header a.logo {
    font-family: "Trebuchet MS", sans-serif;
    font-size: 51px;
    color: #313131;
}
header a.logo:hover {
    text-decoration: none;
}
header a.logo span {
    color: #595959;
}
header a.logo span::after {
    content: "";
    display: inline-block;
    width: 29px;
    height: 29px;
    background-color: #6dd025;
    border-radius: 50%;
    position: relative;
    right: 4px;
    top: 2px;
}
header nav {
    float: right;
    padding-top: 15px;
}
header nav a {
    display: inline-block;
    color: #333333;
    font-size: 23px;
    padding: 0 20px;
    margin-left: 6px;
    transition: all 0,3s;
    line-height: 36px;
}
header nav a:hover {
    background-color: #373737;
    text-decoration: none;
    color: #ffffff;
}

.banner {
    text-align: center;
}








